body {
    background: rgb(29, 23, 23);
    padding: 30px;
}


h1 {
    display: flex;
    justify-content: center;   
    align-items: center;
    color: blanchedalmond;
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 75px;
}

button {
    all: unset;
    cursor: pointer;
}


.roundResult, .scoreboard, 
.selections {
    color: blanchedalmond;
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.selections {
    gap: 30px;
}

.scoreboard {
    flex-direction: column;
    align-items: center;
}

#playAgainButton {
    background-color: blanchedalmond;
    padding: 20px 50px;
    border-radius: 35px;
}

.againButtonDiv {
    display: flex;
    justify-content: center;
}



